@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

body {
  background: #222b3a;
  /* display: flex; */
  padding: 4vmin 5vmax;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  font-size: 10px;
}

button {
  outline: none;
  border-radius: 4px;
  border: none;
}
